{
	"extends": "stylelint-config-standard-scss",
	"plugins": [
		"stylelint-declaration-block-no-ignored-properties",
		"stylelint-order",
		"stylelint-high-performance-animation"
	],
	"rules": {
		"indentation": "tab",
		"string-quotes": "single",
		"alpha-value-notation": "number",
		"color-function-notation": null,
		"declaration-property-value-disallowed-list" : {
			"transition": ["/all/"]
		},
		"scss/double-slash-comment-empty-line-before": null,
		"plugin/declaration-block-no-ignored-properties": true,
		"plugin/no-low-performance-animation-properties": [
			true,
			ignore: "paint-properties"
		],
		"order/order" : [
			"custom-properties",
			"dollar-variables",
			"at-rules",
			{
				"type": "at-rule",
				"name": "include"
			},
			"declarations",
			{
				"type": "at-rule",
				"name": "media"
			},
			"rules"
		]
	}
}
