<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dynamix - Code Challenge - 2024</title>

		<style id="styled-elements">
			:root {
				--primary: 220, 220, 220;
				--primary-hex: #ff0066;
				--heading-font: 'Montserrat', serif;
				--subtitle-font: 'Montserrat', serif;
				--content-font: 'Montserrat', sans-serif;
			}
		</style>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i">
		<link rel="stylesheet" href="../assets/output/css/critical.css">
		<link rel="stylesheet" href="../assets/output/css/slider.css">
		<link rel="stylesheet" href="../assets/output/css/grid.css">
	</head>
	<body>
		<section class="layout-testimonial-slider">
			<div class="width-container">
				<div class="header-wrapper">
					<h2 class="section-title">Pharetra Ullamcorper Justo<br><strong>Cursus Mollis Vulputate</strong></h2>
				</div>
				<div class="slider-wrapper">
					<div class="controls-wrapper">
						<button class="control-item previous">Previous</button>
						<button class="control-item next">Next</button>
					</div>
					<div class="slides-wrapper">
						<div class="slide">
							<div class="slide-inner stars">
								<div class="testimonial-content">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod.</div>
								<p class="attribution">- Joe L. <em>Alpharetta</em></p>
							</div>
							<span class="source source-google">Google</span>
						</div>
						<div class="slide">
							<div class="slide-inner stars">
								<div class="testimonial-content">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
								<p class="attribution">- Jane L. <em>Atlanta</em></p>
							</div>
							<span class="source source-google">Google</span>
						</div>
						<div class="slide">
							<div class="slide-inner stars">
								<div class="testimonial-content">Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</div>
								<p class="attribution">- Bob M. <em>Milton</em></p>
							</div>
							<span class="source source-google">Google</span>
						</div>
						<div class="slide">
							<div class="slide-inner stars">
								<div class="testimonial-content">Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum.</div>
								<p class="attribution">- Greg K. <em>Kennesaw</em></p>
							</div>
							<span class="source source-google">Google</span>
						</div>
						<div class="slide">
							<div class="slide-inner stars">
								<div class="testimonial-content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
								<p class="attribution">- Jill L. <em>Alpharetta</em></p>
							</div>
							<span class="source source-google">Google</span>
						</div>
					</div>
				</div>
				<div class="btn-wrapper">
					<a href="/more-reviews" class="btn">Check out more reviews</a>
				</div>
			</div>
		</section>

		<!-- build featured posts layout here -->


		<script src="../assets/output/js/slider.js"></script>
	</body>
</html>